.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container a {
    background-color: #f0f0f0;
    padding: 0.1rem 1rem;
    margin: 0.1rem 0.15rem;
    border-radius: 10rem;
    font-weight: 200;
    color: rgb(255, 4, 0);
  }